@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Niconne&display=swap');
body{}
table{
    background-color: #ffffff;
}
caption{background-color:bisque;
font-size: 60px
;
padding: 20px;
background-image: url(./bilder/museum-of-new-zealand-te-papa-tongarewa-OB79_7aMqaI-unsplash\ \(1\).jpg);}
tr{}
th{
    font-size: 30px;
    background-color: aqua;
    font-family: "Imperial Script", cursive;
}
td{
    font-size: 20px;
    padding: 25px;
    font-family: "Imperial Script", cursive;
    background-color: aquamarine;
}
img{
    width: 250px;
}